@font-face {
  font-family: 'latosemibold';
  src: local('Lato');
  src: url(./CSS/fonts/Lato-Semibold.ttf) format('truetype');
}

@font-face {
  font-family: 'latolight';
  src: local('Lato');
  src: url(./CSS/fonts/Lato-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'lato';
  src: local('Lato');
  src: url(./CSS/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'latothin';
  src: local('Lato');
  src: url(./CSS/fonts/Lato-Thin.ttf) format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
