@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

body {
    background: #f3f3f3;
    font-family: 'lato';
    /*    to go with new container size*/
    font-size: 80%;
}
